<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>{% block titulo %} HelpDesk {% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
  <nav class="navbar navbar-dark bg-dark mb-4 shadow">
    <div class="container">
      <a class="navbar-brand" href="/">🛠️ HelpDesk Senac</a>
    </div>
  </nav>

  <div class="container">
    {% block conteudo %}
    {% endblock %}
  </div>

  <footer class="text-center py-4 mt-5 border-top">
    <p>&copy; 2026 - Aula 06: Herança de Templates</p>
  </footer>
</body>

</html>
